<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <div class="selected-player-container">
        <a class="game-button mb-4" href="/single">
          Single Play
        </a>
        <a class="game-button" href="/rooms">
          Multi Play
        </a>
      </div>
    </div>
  </div>
</body>

</html>